<h2>パスワードをお忘れの方へ</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードをリセットする" %>
  </div>
<% end %>

<%= link_to "ログイン画面に戻る" , new_customer_session_path , class: 'btn btn-default' %>

