<%# 配送先編集画面 %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <h3>配送先編集</h3>

      <%= form_for @delivery, :url => {:action => :update} do |f| %>

        <%# エラーメッセージ %>
        <% if @delivery.errors.any? %>
          <h2><%= @delivery.errors.count %> errors prohibited this obj from being saved:</h2>
            <ul>
              <% @delivery.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        <% end %>

        <div class="form-group">
          <h4>郵便番号（ハイフンなし）</h4>
          <%= f.text_field :postcode, class: 'form-control' %>
        </div>
        <div class="form-group">
          <h4>住所</h4>
          <%= f.text_field :address, class: 'form-control' %>
        </div>
        <div class="form-group">
          <h4>宛名</h4>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class ="action">
          <%= f.submit '編集する', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>