<%# 配送先登録＋一覧画面 %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h3>配送先登録/一覧</h3>

      <%# 配送先登録 %>
      <%= form_for @delivery, :url => {:action => :create} do |f| %>
        <div class="form-group">
          <h4>郵便番号（ハイフンなし）</h4>
          <%= f.text_field :postcode, class: 'form-control' %>
        </div>

        <div class="form-group">
          <h4>住所</h4>
          <%= f.text_field :address, class: 'form-control' %>
        </div>

        <div class="form-group">
          <h4>宛名</h4>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.submit "登録する", class: 'btn btn-success' %>
        </div>
      <% end %>

      <%# 顧客自身の配送先一覧テーブル %>
      <table class="table">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @deliveries.each do |delivery| %>
            <tr>
              <td>〒<%= delivery.postcode %></td>
              <td><%= delivery.address %></td>
              <td><%= delivery.name %></td>
              <td><%= link_to "編集する", edit_delivery_path(delivery), class: 'btn btn-primary' %></td>
              <td><%= link_to "削除する", delivery_path(delivery), method: :delete, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>