<div class="container">
	<div class="row">
		<div class="col-xs-4">
		</div>
		<div class="col-xs-4">
            <% name = @customer.last_name + @customer.first_name %>
		    <h3><%= name %>さんの会員情報編集</h3>
		</div>
		<div class="col-xs-4">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-2">
		</div>
        <div class="col-xs-8">
            <%= form_for(@customer, url:"/admins/customers/#{@customer.id}") do |customer| %>
                <div class="container">
                    <div class='row'>
                        <div class='col-xs-8'>
                            <table class='col-xs-8'>
                                <tr class="field">
                                    <th>会員ID</th>
                                    <td><%= customer.object.id %></td>
                                    <td></td>
                                </tr>
                                <tr class="field">
                                    <th>名前</th>
                                    <td><%= customer.text_field :last_name %></td>
                                    <td><%= customer.text_field :first_name %></td>
                                </tr>
                                <tr class="field">
                                    <th>フリガナ</th>
                                    <td><%= customer.text_field :last_kana_name %></td>
                                    <td><%= customer.text_field :first_kana_name %></td>
                                </tr>
                                <tr class="field">
                                    <th><%= customer.label :郵便番号 %></th>
                                    <td><%= customer.text_field :postcode %></td>
                                    <td></td>
                                </tr>
                                <tr class="field">
                                    <th><%= customer.label :住所 %></th>
                                    <td><%= customer.text_field :address %></td>
                                    <td></td>
                                </tr>
                                <tr class="field">
                                    <th><%= customer.label :電話番号 %></th>
                                    <td><%= customer.text_field :postcode %></td>
                                    <td></td>
                                </tr>
                                <tr class="field">
                                    <th><%= customer.label :メールアドレス %></th>
                                    <td><%= customer.email_field :email %></td>
                                    <td></td>
                                </tr>
                                <tr class="field">
                                    <th><%= customer.label :会員ステータス %></th>
                                    <td><%= customer.radio_button :is_actived, :true %>有効</td>
                                    <td><%= customer.radio_button :is_actived, :false %>無効</td>
                                </tr>
                            </table>
                        </div>
                        <div class="action col-xs-8" >
                            <%= customer.submit '変更を保存する' , class:"btn btn-primary" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-xs-2">
		</div>
	</div>
</div>
