<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 text-center">
            <% name = @customer.last_name + @customer.first_name %>
		    <h3><%= name %>さんの会員情報編集</h3>
		</div>
	</div>
    <%= form_for(@customer, url:"/admins/customers/#{@customer.id}") do |customer| %>
            <div class='row'>
                <div class='col-xs-8 col-xs-offset-2'>
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1 space">
                                    <h4 class="font">会員ID</h4>
                                </div>
                                <div class="col-xs-2 space font">
                                    <h4  class="font">
                                        <%= customer.object.id  %>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1 space">
                                    <%= customer.label :名前 , class:"font" %>
                                </div>
                                <div class="col-xs-3 space">
                                    <%= customer.text_field :last_name , class:"form-control" %>
                                </div>
                                <div class="col-xs-3 space">
                                    <%= customer.text_field :first_name , class:"form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1 space">
                                    <%= customer.label :フリガナ , class:"font" %>
                                </div>
                                <div class="col-xs-3 space">
                                    <%= customer.text_field :last_kana_name , class:"form-control" %>
                                </div>
                                <div class="col-xs-3 space">
                                    <%= customer.text_field :first_kana_name , class:"form-control" %>
                                </div>
                            </div>
                        </tr>
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1 space">
                                    <%= customer.label :郵便番号 , class:"font" %>
                                </div>
                                <div class="col-xs-3 space" >
                                   <%= customer.text_field :postcode , class:"form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1 space">
                                    <%= customer.label :住所 , class:"font" %>
                                </div>
                                <div class="col-xs-8 space" >
                                    <%= customer.text_field :address , class:"form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1 space">
                                    <%= customer.label :電話番号 , class:"font" %>
                                </div>
                                <div class="col-xs-3 space">
                                    <%= customer.text_field :postcode , class:"form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1  space">
                                    <%= customer.label :メールアドレス , class:"font" %>
                                </div>
                                <div class="col-xs-4 space">
                                    <%= customer.email_field :email , class:"form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-1  space">
                                    <%= customer.label :会員ステータス , class:"font" %>
                                </div>
                                <div class="col-xs-3  space">
                                    <%= customer.radio_button :is_actived, :true %>有効
                                </div>
                                <div class="col-xs-3  space">
                                    <%= customer.radio_button :is_actived, :false %>無効
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action col-xs-2 col-xs-offset-5" >
                    <%= customer.submit '変更を保存する' , class:"btn btn-primary" %>
                </div>
            </div>
        </div>
    <% end %>
</div>
