<%= form_for(@customer) do |f| %>

  <div class="field">
    <h3>名前</h3>
    <%= f.label :（姓）%>
    <%= f.text_field :last_name %>
    <%= f.label :（名 %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <h3>フリガナ</h3>
    <%= f.label :（セイ）%>
    <%= f.text_field :last_kana_name %>
    <%= f.label :（メイ）%>
    <%= f.text_field :first_kana_name %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :郵便番号（ハイフンなし）%>
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :電話番号（ハイフンなし）%>
    <%= f.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存する" , class:"btn btn-primary" %>
  </div>
<% end %>
<h2><%= link_to "退会する" , customers_confirm_path , class:"btn btn-primary" %></h2>
