<h1>マイページ</h1>
<h1>登録情報
	<%= link_to "編集する" , edit_customer_path %>
	<%- link_to "パスワードを変更する" , edit_customer_password_path %></h1>
<table class='table'>
	<tr>
	    <th>氏名</th>
	    <th><%= @customer.last_name %>
	    	<%= @customer.first_name %>
	    </th>
    </tr>
    <tr>
	    <th>カナ</th>
	    <th><%= @customer.last_kana_name %>
	    	<%= @customer.first_kana_name %>
	    </th>
    </tr>
    <tr>
	    <th>郵便番号</th>
	    <th><%= @customer.postcode %>
	    </th>
    </tr>
    <tr>
	    <th>住所</th>
	    <th><%= @customer.address %>
	    </th>
    </tr>
    <tr>
	    <th>電話番号</th>
	    <th><%= @customer.phone_number %>
	    </th>
    </tr>
    <tr>
	    <th>メールアドレス</th>
	    <th><%= @customer.email %>
	    </th>
    </tr>
</table>
<h2> 配送先 <%= link_to "一覧を見る" , deliveries_path %> </h2>
<h2> 注文履歴 <%= link_to "一覧を見る" , orders_path %> </h2>