<%# 注文確認画面 %>
<h2>注文情報確認</h2>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_products.each do |order_product| %>
      <td>
        <%= attachment_image_tag order.order_product, :image, :size => '50x50',fallback: "no_image.jpg" %>
        <%= order_product.procuct.name %>
      </td>
      <td><%= order_product.price %></td>
      <td><%= order_product.quantity %></td>
      <td><%= order_product.price * order_product.quantity %></td>
    <% end %>
  </tbody>
</table>

<div class="">
  <%# pathは仮入力 %>
  <%=link_to "購入を確定する", orders_create_path, class: "btn btn-lg btn-success ml-auto" %>
</div>
