<%# 注文確認画面 %>
<h2>注文情報確認</h2>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_products.each do |order_product| %>
      <td>
        <%= attachment_image_tag order_product.product, :image, :size => '50x50',fallback: "no_image.jpg" %>
        <%= order_product.product.name %>
      </td>
      <td><%= order_product.price %></td>
      <td><%= order_product.quantity %></td>
      <td><%= (order_product.price * 1.1 * order_product.quantity).floor %></td>
    <% end %>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td>送料</td>
      <td><%= @order.postage %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= (@order.total_price - @order.postage) %></td>
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%= @order.total_price %></td>
    </tr>
  </tbody>
</table>

<table>
  <tr>
    <th>お支払い方法</th>
    <td><%= @order.payment_method %></td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>
      <%= @order.send_postcode %><%= @order.send_address %><br>
      <%= @order.send_name %>
    </td>
  </tr>
</table>

<div class="">
  <%# pathは仮入力 %>
  <%=link_to "購入を確定する", orders_create_path, method: :post, class: "btn btn-lg btn-success ml-auto" %>
</div>
