<%# 注文確認画面 %>
<h2>注文情報確認</h2>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @customer.cart_items.each do |cart_item| %>
      <td>
        <%= attachment_image_tag order_product.product, :image, class: "img-square", fallback: "no_image.jpg", size:"40x40" %>
        <%= cart_item.product.name %>
      </td>
      <td><%= cart_item.product.price * 1.1 %></td>
      <td><%= cart_item.quantity %></td>
      <td><%= (cart_item.product.price * 1.1 * cart_item.quantity).floor %></td>
    <% end %>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td>送料</td>
      <td><%= @order.postage %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= @order.calculation(@customer) %></td>
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%= @order.calculation(@customer) + @order.postage %></td>
    </tr>
  </tbody>
</table>

<table>
  <tr>
    <th>お支払い方法</th>
    <td><%= @order.payment_method %></td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>
      <%= @order.send_postcode %><%= @order.send_address %><br>
      <%= @order.send_name %>
    </td>
  </tr>
</table>

<%= form_with(url: orders_create_path, local: true) do |f| %>
  <%# nameというパラメータを作成し、そこに@user.nameを格納します。 %>
  <%= hidden_field_tag :calculation, @order.calculation(@customer)  %>
  <%= hidden_field_tag :payment_method, @order.payment_method %>
  <%# <%= hidden_field_tag :postage, @order.postage %> %>
  <%= hidden_field_tag :send_postde, @order.send_code %>
  <%= hidden_field_tag :send_address, @order.send_address %>
  <%= hidden_field_tag :send_name, @order.send_name %>
<% end %>
