<%# 注文履歴一覧画面（顧客用） %>
<h2>注文履歴一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
  <%# 要修正 %>
    <% @orders.each do |order| %>
      <td><%= order.create_at %></td>
      <td><%= order.send_postcode + order.send_address + order.send_name %></td>
      <td><%= order. %></td>
      <td><%= order.total_price %></td>
      <td><%= order.status %></td>
      <td><%= link_to "表示する", order_path(order.id) %></td>
    <% end %>
  </tbody>
</table>