<%# 注文履歴詳細 %>
<h2>注文情報確認</h2>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
  <%# 要修正 %>
    <% @order_products.each do |order_product| %>
      <td><%= order_product.name %></td>
      <td><%= order_product.price %></td>
      <td><%= order_product.quantity %></td>
      <td><%= order_product.price * order_product.quantity %></td>
    <% end %>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td>送料</td>
      <td><%= @order.posatage %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= @order.total_price - @order.postage %></td>
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%= @order.total_price %></td>
    </tr>
  </tbody>
</table>

<table>
  <tr>
    <th>お支払い方法</th>
    <td><%= @order.payment_method %></td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>
      <%= @order.send_postcode %><%= @order.send_address %><br>
      <%= @order.send_name %>
    </td>
  </tr>
</table>