<div class="container">
  <div class="row">
      <% if @product.errors.any? %>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

<div class="container">
  <div>商品新規登録</div>
  <%= form_for @product, :url => {:action => :create} do |f| %>
    <div class='row'>
      <div class='col-xs-3 col-md-offset-1'>
          <div class="item-image">
            <%= attachment_image_tag @product, :image, class: "img-thumbnail", fallback: "no_image.jpg", size:"320x180" %>
          </div>
          <%= f.attachment_field :image, class: "file" %>
      </div>
      <table class='col-xs-5'>
        <tr class="field">
          <th><%= f.label :商品名 %></th>
          <th><%= f.text_field :name, class: 'col-xs-12' %></th>
        </tr>
        <tr><th>&nbsp;</th></tr>
        <tr class="field">
          <th><%= f.label :商品説明 %></th>
          <th><%= f.text_area :explanation, class: 'col-xs-12'%></th>
        </tr>
        <tr><th>&nbsp;</th></tr>
        <tr class="field">
          <th><%= f.label :ジャンル %></th>
          <th><%= f.select :genre_id, Genre.where(is_actived: true).collect { |p| [ p.name, p.id ] }, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></th>
        </tr>
        <tr><th>&nbsp;</th></tr>
        <tr class="field">
          <th><%= f.label :税抜価格 %></th>
          <th><%= f.text_field :tax_included_price, class: 'col-xs-12' %></th>
        </tr>
        <tr><th>&nbsp;</th></tr>
        <tr class="field">
          <th><%= f.label :販売 %><br><%= f.label :ステータス %></th>
          <th><%= f.select :on_sale, {'販売中': true, '売切れ': false}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></th>
        </tr>
      </table>
      <div class='col-md-2 col-md-offset-7'>
          <%= f.submit "新規登録", class: 'btn-lg btn-info col-xs-12'%>
      </div>
    </div>
  <% end %>
</div>

<%# 画像プレビュー　%>
<script>
$(function(){
    // inputのidから情報の取得
    $('.file').on('change', function (e) {
// ここから既存の画像のurlの取得
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
    }
// ここまで
    reader.readAsDataURL(e.target.files[0]); //取得したurlにアップロード画像のurlを挿入
});
});

</script>