<div>商品新規登録</div>

<%= form_for(@product) do |f| %>
  <div class='row'>
    <div class='col-xs-3 col-md-offset-1'>
    　<div class="field">
        <%= f.attachment_field :image, class: "product_image" %>
      </div>
    </div>
    <table class='col-xs-4'>
      <tr class="field row">
        <th><%= f.label :商品名 %></th>
        <th><%= f.text_field :name, class: 'col-xs-12 book_title' %></th>
      </tr>
      <tr class="field row">
        <th><%= f.label :商品説明 %></th>
        <th><%= f.text_area :explanation, class: 'col-xs-12 book_body'%></th>
      </tr>
      <tr class="field row">
        <th><%= f.label :ジャンル %></th>
        <%#
        <th><%= f.select :genre_id, Genre.all, :id, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></th>
      </tr>
<%# 税抜き表示なのでtax_included_priceはミスであるがそのまま使用　%>
      <tr class="field row">
        <th><%= f.label :税抜価格 %></th>
        <th><%= f.text_field :tax_included_price, class: 'col-xs-12 book_title' %></th>
      </tr>
      <tr class="field row">
        <th><%= f.label :販売 %><br><%= f.label :ステータス %></th>
        <th><%= f.select :on_sale, {'販売中': true, '売切れ': false}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></th>
      </tr>
    </table>

    <div class='col-md-1 col-md-offset-9'>
        <%= f.submit "新規登録", class: 'btn btn-info col-xs-12'%>
    </div>
  </div>
<% end %>
