<div class="container">
  <div class='row'>
    <div class='col-xs-2'>
	    <table class='col-xs-7'>
	    	<h4>ジャンル検索</h4>
		  <% @genres.each do |genre| %>
			<tr><% if genre.is_actived == true %>
	  		   <td><%= genre.name %></td>
	  		   <% end %>
	  		</tr>
	    　<% end %>
    　　</table>
    </div>
    <%# xs-8を変更してcssで変えるべき %>
  <div class='col-xs-8'>
	<h2>商品一覧</h2><h4>全<%= @product_all.count %>件</h4>
	    <% @products.each do |product| %>
	    	<% if product.on_sale == true %>
			   <table class='col-xs-2'>
	      		    <tr>
	      			  <th><%= link_to  product_path(product.id) do %><%= attachment_image_tag product, :image, class: "img-square", fallback: "no_image.jpg", size:"160x90" %><% end %></th>
	      		    </tr>
	      		    <tr>
	        		  <th><%= link_to  product_path(product.id) do %><%= product.name %><% end %></th>
	        	    <tr>
	       			  <th>¥<%= product.tax_included_price.to_s(:delimited) %></th>
	       		    </tr>
	  	       </table>
  	        <% end %>
  	    <% end %>
  </div>
 </div>
 <div class='col-md-offset-5'>
  	<%# kaminari使用　　Bootstrapでデザイン変更するべき？？ %>
	 <%= paginate @products %>
 </div>
</div>