<div class="container">
  <div class='row'>
    <div class='col-xs-2 col-xs-offset-1'>
      <table class="list-group">
        <h3>ジャンル検索</h3>
        <% @genres.each do |genre| %>
          <tr>
            <% if genre.is_actived == true %>
              <td class="list-group-item"><%= link_to  products_path(:genre_id => genre.id) do %><%= genre.name %><% end %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class='col-xs-4'>
      <div class="field">
      <div class="item-image">
        <%= attachment_image_tag @product, :image, class: "img-square", fallback: "no_image.jpg", size:"320x180" %>
      </div>
      </div>
    </div>
    <table>
      <tr class="field row">
        <h3><%= @product.name %></h3>
      </tr>
      <tr class="field row">
        <p><%= @product.explanation %></p>
      </tr>
      <%# 税抜き表示なのでtax_included_priceはミスであるがそのまま使用　%>
      <tr class="field row">
        <%  a = @product.tax_included_price.to_f
          b = 1.1.to_f
          @tax_included = "#{a*b}".to_i %>
        <h4>¥<%= @tax_included.to_s(:delimited) %></h4><h6>（税込）</h6>
      </tr>
    </table>
    <div class='col-md-3 col-md-offset-5'>
      <%= form_for @cart_item, :url => { :controller => :cart_items, :action => :create } do |f| %>
        <table>
          <tr>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <th><%= f.select :quantity, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"]], include_blank: "個数選択" %></th>
            <th>&nbsp;</th>
            <th><%= f.submit "カートに入れる", class: 'btn btn-info col-xs-12'%></th>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>