<%# 注文履歴一覧画面（管理者用） %>
<h2>注文履歴一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order[:created_at].strftime("%Y-%m-%d %H:%M"), admins_order_path(order) %></td>
      <td><%= order.customer.last_name + order.customer.last_name %></td>
      <td><%= order.order_products.sum(:quantity) %></td>
      <td>
        <% case order.status when "入金待ち" %>
        <span><%= order.status %></span>
        <% when "入金確認" %>
        <span><%= order.status %></span>
        <% when "製作中" %>
        <span><%= order.status %></span>
        <% when "発送準備中" %>
        <span><%= order.status %></span>
        <% when "発送済み" %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <%# 10件ごとにページ切り替え %>
    <%# config/initializers/kaminari_config.rb 入力を確認 %>
    <%= paginate @orders %>
  </tbody>
</table>


