<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="header-margin">
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <nav class='nav navbar-nav navbar-left' >
            <span>naganocake</span>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if customer_signed_in? %>
                <li><%= link_to 'マイページ', customer_path(current_customer), class: 'glyphicon glyphicon-home home' %></li>
                <li><%= link_to '商品一覧', products_path, class: 'glyphicon glyphicon-user users' %></li>
                <li><%= link_to 'カート', cart_items_path, class: 'glyphicon glyphicon-book books'%></li>
                <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>
              <% elsif admin_signed_in? %>
                <li><%= link_to '商品一覧', admins_products_path, class: 'glyphicon glyphicon-home home' %></li>
                <li><%= link_to '会員一覧', admins_customers_path, class: 'glyphicon glyphicon-home home' %></li>
                <li><%= link_to '注文履歴一覧', admins_orders_path, class: 'glyphicon glyphicon-user users' %></li>
                <li><%= link_to 'ジャンル一覧', admins_genres_path, class: 'glyphicon glyphicon-book books'%></li>
                <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>
              <% else %>
                <li><%= link_to '商品一覧', products_path, class: 'glyphicon glyphicon-home home' %></li>
                <li><%= link_to '新規登録', new_customer_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
                <li><%= link_to 'ログイン', new_customer_session_path, class: 'glyphicon glyphicon-log-in sign_in'%></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
